<section id="workexp" class="skills-area pt-125 pb-130">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h2 class="title">Work Experience</h2>
                    <p> </p>
                </div>
                <!-- section title -->
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-lg-6">
                <div class="about-content mt-50">
                    <h5 class="about-title">A result oriented professional with four years of experience in embedded application development, enhancement, product delivery and customer relationship management. Insightful knowledge of CAN (Controlled Area Network) protocol, LIN
                        (Local Interconnect Protocol), UDS and AUTOSAR for automotive application development. An enthusiastic team player and deep creative thinker.</h5>
                    <ul class="clearfix">
                        <li>
                            <div class="single-info d-flex align-items-center">
                                <div class="info-icon">
                                    <i class="lni-calendar"></i>
                                </div>
                                <div class="info-text">
                                    <p><span>Date of birth:</span> 12 October 1994</p>
                                </div>
                            </div>
                            <!-- single info -->
                        </li>
                        <li>
                            <div class="single-info d-flex align-items-center">
                                <div class="info-icon">
                                    <i class="lni-envelope"></i>
                                </div>
                                <div class="info-text">
                                    <p><span>Email:</span> akash12jaiswalwork@gmail.com</p>
                                </div>
                            </div>
                            <!-- single info -->
                        </li>
                        <li>
                            <div class="single-info d-flex align-items-center">
                                <div class="info-icon">
                                    <i class="lni-phone-handset"></i>
                                </div>
                                <div class="info-text">
                                    <p><span>Phone:</span> +91-9669155852</p>
                                </div>
                            </div>
                            <!-- single info -->
                        </li>
                        <li>
                            <div class="single-info d-flex align-items-center">
                                <div class="info-icon">
                                    <i class="lni-map-marker"></i>
                                </div>
                                <div class="info-text">
                                    <p><span>Location:</span> 411027, Pune, Maharashtra</p>
                                </div>
                            </div>
                            <!-- single info -->
                        </li>
                    </ul>
                </div>
                <!-- about content -->
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>