<section id="workexp" class="workexp-area pt-125 pb-130">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="workexp-title text-center">
                    <h2 class="title">Work Experience</h2>
                    <p> </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="workexp-content mt-50">
                </div>
            </div>
        </div>
    </div>
</section>