.workexp-area {
    margin-top: 100px;
    position: relative;
    text-align: center;
}

.workexp-area .title {
    font-weight: 700;
    font-size: 45px;
    color: #000;
    padding-bottom: 20px;
}

.workexp-area .sub-title {
    font-weight: 700;
    font-size: 25px;
}

.workexp-area .card-container {
    position: relative;
    height: 500px;
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
    perspective: 200rem;
}

.workexp-area .card-container .card {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 0;
    box-shadow: 5px 5px 15px #9370DB;
    transition: all 0.9s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    backface-visibility: hidden;
}

.workexp-area .card-container:hover .card-front {
    transform: rotateY(180deg);
}

.workexp-area .card-container .card-back {
    transform: rotateY(180deg);
}

.workexp-area .card-container:hover .card-back {
    transform: rotateY(0deg);
}

.workexp-area .card-container:hover .card {
    background: #9370DB;
    color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 10px #9e9e9e;
}

.workexp-area .card-container:hover .card li {
    color: rgb(0, 0, 0);
    border: none;
}

.workexp-area .card-container:hover .card h2 {
    font-weight: 700;
}

.workexp-area .card-container:hover .card h3 {
    font-weight: 700;
}

.workexp-area .card-container:hover .card h4 {
    font-weight: 700;
}