<mat-toolbar color="primary" class="mat-elevation-z8" style="height: 200px;  background: #61A7AF;">
    <span style="font-size: 250%"><img class="img-fluid" src="assets/images/logo.png" alt="Logo"></span>

    <div class="spacer"></div>
    <div>
        <a mat-button class="navitems">
            <mat-icon>home</mat-icon>
        </a>
        <a mat-button class="navitems"><span style="font-size: 150%">About Me</span></a>
        <a mat-button class="navitems"><span style="font-size: 150%">Skills</span></a>
        <a mat-button class="navitems"><span style="font-size: 150%">Projects</span> </a>
        <a mat-button class="navitems"><span style="font-size: 150%">Work Experience</span> </a>
        <a mat-raised-button color="accent" class="navitems"><span style="font-size: 150%">Contact Me</span></a>
    </div>
</mat-toolbar>