.nav-bar {
    height: 300px;
    background: #61A7AF;
    position: relative;
    /* For macOS/iOS Safari */
    top: 0;
    /* Sets the sticky toolbar to be on top */
    z-index: 300;
    /* Ensure that your app's content doesn't overlap the toolbar */
}

.spacer {
    flex: 1 1 auto;
}

.home-icon {
    font-size: 150%;
}

.img-fluid {
    display: inline;
    max-width: 30% !important;
    margin-right: 17% !important;
}