.footer-widget {
    background-color: #9370DB;
    margin-top: 100px;
}

.footer-content {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.footer-content .img-fluid {
    display: inline-block;
    max-width: 10% !important;
    margin-top: 15px;
}

.footer-content ul {
    margin-top: 0;
}

.footer-content ul li {
    display: inline-block;
    margin: 0 30px;
}

.footer-content ul li a {
    font-size: 30px;
    width: 74px;
    height: 70px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    color: #bebebe;
    background-color: #1c2940;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.footer-content ul li a:hover {
    background-color: #9370DB;
    color: #fff;
}

.footer_link h2 {
    margin: 0;
    color: #fff;
}

.footer_link a:link {
    color: #fff;
    text-decoration: none;
}

.footer_link a:hover {
    background-color: gray;
    text-decoration: none;
    font-size: 125%;
}

.footer_link a:active {
    background-color: gray;
    text-decoration: none;
}

.footer_link a:visited {
    color: #fff;
    text-decoration: none;
}