<div class="footer-widget pt-130 pb-130">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="footer-content text-center">
                    <a href="index.html">
                        <img class="img-fluid" src="assets/images/logo.png" alt="Logo">
                    </a>
                    <ul>
                        <li><a href="https://www.facebook.com/Jaiswalakash170"><i class="fa fa-facebook fa-3x"></i></a></li>
                        <li><a href="https://www.instagram.com/beastt_akash/"><i class="fa fa-instagram fa-3x"></i></a></li>
                        <li><a href="https://twitter.com/jaiswalakash170"><i class="fa fa-twitter fa-3x"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/jaiswalakash170/"><i class="fa fa-linkedin fa-3x"></i></a></li>
                        <li><a href="https://github.com/jaiswalakash170/"><i class="fa fa-github fa-3x"></i></a></li>
                    </ul>
                    <div class="footer_link">
                        <h2>Site by - <a href="index.html"><span style="font-size: 100%;">Akash Jaiswal</span></a></h2>
                    </div>
                </div>
                <!-- footer content -->
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</div>