.about-area {
    margin-top: 100px;
    padding-bottom: 200px;
}

.about-area .title {
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    line-height: 60px;
    padding-bottom: 50px;
}

.about-area .title h2 {
    font-weight: 700;
    font-size: 45px;
    color: #000;
}

.about-area .container {
    display: table;
    width: 100%;
}

.about-area .container .left-half {
    position: absolute;
    left: 0px;
    width: 50%;
    padding-left: 50px;
    padding-right: 100px;
}

.about-area .container .left-half .about-title {
    line-height: 2;
    font-family: 'Vollkorn', serif;
    font-size: 15px;
    font-weight: 300;
}

.about-area .container .right-half {
    position: absolute;
    right: 0px;
    width: 50%;
    float: right;
    padding-left: 50px;
    padding-right: 50px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.about-area .container .right-half .img1 {
    width: 125px;
    height: 125px;
}

.about-area .container .right-half .img1:hover {
    transform: scale(1.2);
}

.about-area .container .right-half .img2 {
    width: 150px;
    height: 125px;
}

.about-area .container .right-half .img2:hover {
    transform: scale(1.2);
}

.about-area .container .right-half .img3 {
    width: 200px;
    height: 150px;
}

.about-area .container .right-half .img3:hover {
    transform: scale(1.2);
}