<section id="about" class="about-area">
    <div class="container">
        <div class="row justify-content-center">
            <h2 class="title">About Me</h2>
        </div>
        <div class="row justify-content-center">
            <h5 class="about-title">
                A result oriented professional with four years of experience in embedded application development, enhancement, product delivery and customer relationship management. Insightful knowledge of CAN (Controlled Area Network) protocol, LIN (Local Interconnect
                Protocol), UDS and AUTOSAR for automotive application development. An enthusiastic team player and deep creative thinker.
            </h5>
        </div>
    </div>
</section>