<section id="projects" class="projects-area">
    <div class="container my-3 py-5 text-center">
        <div class="row mb-5">
            <div class="col">
                <h2 class="title">Projects</h2>
                <p class="sub-title mt-3">Academic Projects</p>
            </div>
        </div>
        <div class="align-item-center justify-content-center">
            <div class="row text-center">
                <div class="mx-auto col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <mat-icon>assignment</mat-icon>
                            <h2> Event Calendar App </h2>
                            <h4>Duration May 2015 – November 2015</h4>
                            <p>This is a native android application, which helps you monitor and keep track of events and their schedules. It works as an event calendar where you can just add events and specific details about that event, and it will automatically
                                remind you about the day and timing.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="mx-auto col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <mat-icon>assignment</mat-icon>
                            <h2> E-Learning Resource Locator </h2>
                            <h4>Duration August 2014 – October 2014</h4>
                            <p>E-learning Resource Locator is a web application designed exclusively to help the students of a college or university to get all learning materials/resources of every available courses. It also provides a discussion forum for
                                open communication between students or students and professors.</p>
                        </div>
                    </div>
                </div>
                <div class="mx-auto col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <mat-icon>assignment</mat-icon>
                            <h2> Automated Water Tank Cleaner </h2>
                            <h4>Duration August 2014 – October 2014</h4>
                            <p>It was a push button device for automated cleaning of water tank. It included controlling the rotation of the brushes mounted at the bottom, sprinklers, and the flow of water to get rid of the soiled water after cleaning.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>