.skills-area {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    text-align: center;
}

.skills-title .title {
    font-weight: 700;
    font-size: 45px;
    color: #000;
    padding-bottom: 20px;
}

.skills-content {
    padding-bottom: 15px;
}