<section id="skills" class="skills-area">
    <div class="container my-3 py-5 text-center">
        <div class="row mb-5">
            <div class="col">
                <h2 class="title">Skills</h2>
                <p class="sub-title mt-3">Technical Skills & Tools</p>
            </div>
        </div>
        <div class="align-item-center justify-content-center">
            <div class="row text-center">
                <div class="mx-auto col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <i class="fa fa-code fa-2x" aria-hidden="true"> Languages </i>
                            <ul class="list-group text-left mt-3">
                                <li class="list-group-item"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> C</li>
                                <li class="list-group-item"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> CPP</li>
                                <li class="list-group-item"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> JAVA</li>
                                <li class="list-group-item"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Python</li>
                                <li class="list-group-item"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Java Script</li>
                                <li class="list-group-item"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Type Script</li>
                                <li class="list-group-item"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> HTML</li>
                                <li class="list-group-item"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> CSS</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mx-auto col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <i class="fa fa-file-text-o fa-2x" aria-hidden="true"> IDE </i>
                            <ul class="list-group text-left mt-3">
                                <li class="list-group-item"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Eclipse</li>
                                <li class="list-group-item"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Visual Studio Code</li>
                                <li class="list-group-item"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Spring Tool Suite</li>
                                <li class="list-group-item"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Cube Suite</li>
                                <li class="list-group-item"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Renesas HEW</li>
                                <li class="list-group-item"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> GHS Multi</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mx-auto col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <i class="fa fa-code-fork fa-2x" aria-hidden="true"> SVN Tools </i>
                            <ul class="list-group text-left mt-3">
                                <li class="list-group-item"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> GIT</li>
                                <li class="list-group-item"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Perforce</li>
                                <li class="list-group-item"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Tortoise SVN</li>
                                <li class="list-group-item"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> GitHub</li>
                                <li class="list-group-item"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Stash</li>
                                <li class="list-group-item"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Gerrit</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4 justify-content-center">
            <div class="row text-center">
                <div class="mx-auto col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <i class="fa fa-bug fa-2x" aria-hidden="true"> Debuggers </i>
                            <ul class="list-group text-left mt-3">
                                <li class="list-group-item"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> GDB</li>
                                <li class="list-group-item"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Renesas E10 Emulator</li>
                                <li class="list-group-item"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Renesas Minicube</li>
                                <li class="list-group-item"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> GHS Multi SIM</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mx-auto col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <i class="fa fa-folder fa-2x" aria-hidden="true"> Project Management </i>
                            <ul class="list-group text-left mt-3">
                                <li class="list-group-item"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Doors</li>
                                <li class="list-group-item"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Sharepoint</li>
                                <li class="list-group-item"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> PROCOM</li>
                                <li class="list-group-item"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Elvis</li>
                                <li class="list-group-item"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> JIRA</li>
                                <li class="list-group-item"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Crucible</li>
                                <li class="list-group-item"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Confluence</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mx-auto col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <i class="fa fa-car fa-2x" aria-hidden="true"> Automotive </i>
                            <ul class="list-group text-left mt-3">
                                <li class="list-group-item"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Vector CANoe/CANalyzer</li>
                                <li class="list-group-item"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Vector Geny Framework</li>
                                <li class="list-group-item"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Vector DaVinci Configurator</li>
                                <li class="list-group-item"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Vector DaVinci Developer</li>
                                <li class="list-group-item"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Vector CAST</li>
                                <li class="list-group-item"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Vector ODX Studio</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>