mat-grid-tile {
    background: lightblue;
}

.header-img {
    position: relative;
    overflow: hidden;
    color: #FFFFFF
}

.header__logo-box {
    position: absolute;
    background: rgba(39, 62, 84, 0.82);
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0px;
    top: 0px;
}

.header__text-box {
    position: relative;
    z-index: 2;
}