<app-header></app-header>


<!--
<div class="header-img">
    <img style="width: 100%;" src="assets/fast.gif" alt="">

    <div class="header__logo-box">
      <img src="assets/logo-white.png" alt="Akash" class="header__logo">
    </div>
    <div class="header__text-box">
      <h1 class="heading-primary">
        <span class="heading-primary--main">Akash Jaiswal | </span>
        <span class="heading-primary--sub">Software Developer</span>
      </h1>
    </div>
</div>


<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
    {{tile.text}}
  </mat-grid-tile>
</mat-grid-list>
-->
