<section id="backend" class="backend-area">
    <div class="container">
        <h1 class="title">Back End Development</h1>
        <div class="d-flex flex-row flex-wrap">
            <picture class="w-lg-50">
                <img src="./assets/images/java.png" alt="placeholder image" class="img-fluid">
            </picture>
            <picture>
                <img src="./assets/images/mysql.png" alt="placeholder image" class="img-fluid">
            </picture>
            <picture>
                <img src="./assets/images/spring-boot.png" alt="placeholder image" class="img-fluid">
            </picture>
        </div>
    </div>
</section>