<div class="container">
    <h1>Front End Development</h1>
    <div class="d-flex flex-row flex-wrap">
        <picture>
            <img src="../../assets/images/html5.png" alt="placeholder image" class="img-fluid">
        </picture>
        <picture>
            <img src="../../assets/images/css3.png" alt="placeholder image" class="img-fluid">
        </picture>
        <picture class="w-lg-50">
            <img src="../../assets/images/javascript.png" alt="placeholder image" class="img-fluid">
        </picture>
        <picture>
            <img src="../../assets/images/nodejs.png" alt="placeholder image" class="img-fluid">
        </picture>
        <picture>
            <img src="../../assets/images/angular.png" alt="placeholder image" class="img-fluid">
        </picture>
        <picture class="w-lg-50">
            <img src="../../assets/images/material.png" alt="placeholder image" class="img-fluid">
        </picture>
        <picture>
            <img src="../../assets/images/bootstrap.png" alt="placeholder image" class="img-fluid">
        </picture>
    </div>
</div>