<section id="frontend" class="frontend-area">
    <div class="container">
        <h1 class="title">Front End Development</h1>
        <div class="d-flex flex-row flex-wrap">
            <picture class="w-lg-50">
                <img src="../../assets/images/javascript.png" alt="placeholder image" class="img-fluid">
            </picture>
            <picture>
                <img src="../../assets/images/nodejs.png" alt="placeholder image" class="img-fluid">
            </picture>
            <picture>
                <img src="../../assets/images/angular.png" alt="placeholder image" class="img-fluid">
            </picture>
        </div>
    </div>
</section>