.container {
    margin-top: 100px;
    padding-bottom: 100px;
    position: relative;
    text-align: center;
}

.d-flex {
    border: none;
}

.d-flex picture {
    width: 100px;
    height: 100px;
    flex: auto;
    cursor: pointer;
    border: none;
}