.header-content {
    position: relative;
    margin-top: 100px;
    margin-left: 50px;
}

.header-content .sub-title {
    margin-top: 50px;
    font-size: 30px;
    color: #754ef9;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.header-content .title {
    font-size: 60px;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.header-content p {
    padding-bottom: 10px;
}

.header-content a:hover {
    text-decoration: none;
}

.header-content a:active {
    text-decoration: none;
}