@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800");
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #8a8fa3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #32333c;
    margin: 0px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #8a8fa3;
    margin: 0px;
}